---
title: Home
layout: default
---

<div class="landing">
  <h1 class="page-title">{{ site.title }}</h1>
  <p><em>{{ site.tagline }}</em></p>
  <p>{{ site.description }}</p>
  <p>
    This is the web edition of the open textbook by {{ site.author }},
    originally published at
    <a href="{{ site.sourceUrl }}">{{ site.sourceLabel }}</a> and also available on
    <a href="{{ site.libreTextsUrl }}">{{ site.libreTextsLabel }}</a>, licensed under the
    <a href="{{ site.licenseUrl }}" rel="license">{{ site.licenseLabel }}</a>.
  </p>

  <div class="landing-actions">
    <a href="/preface/">Start reading</a>
    <a class="secondary" href="/book-index.html">Index</a>
  </div>

  <h2>Contents</h2>
  <ol class="chapter-list">
    {% for ch in book.chapters %}
      <li><a href="{{ ch.url }}">{{ ch.displayTitle }}</a></li>
    {% endfor %}
  </ol>
</div>
