---
permalink: /SUMMARY.html
layout: page
title: {{ site.title }}
eleventyExcludeFromCollections: true
---

<ul>
  <li>{{ site.title }}
    <ul class="toc-root">
      {% for ch in book.chapters %}
        <li class="{% if ch.number === null %}preface{% elif ch.mode == 'appendix' %}appendix{% else %}chapter{% endif %}">
          <a href="{{ ch.url }}">{{ ch.displayTitle }}</a>
          {% if ch.sections.length %}
            <ul>
              {% for s in ch.sections %}
                <li class="section"><a href="{{ s.url }}">{{ s.displayTitle }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      <li class="book-index"><a href="/book-index.html">Index</a></li>
    </ul>
  </li>
</ul>
